<% if @instance[:status] == "unpaid" %>
	<%= render :template => 'charges/new' %> 
<% else %>

	<h1>Your instance is:</h1>
	    <span> Name: <%= @instance[:name] %></span><br>
	    <span>Amount: <%= number_to_currency((@instance[:plan].to_i/ 100), :unit => "€") %> &euro;</span><br>
	    <span> Region: <%= @myRegion.name %></span><br>
	    <span> IP Address: <%= @instance[:ip_address] %> </span><br>
	    <span> Created_at: <%= @instance[:created_at] %> </span><br><br> 

<%= link_to "Back to instances", instances_path %>
<% end %>
