
<%= form_tag instances_path do %>
<%= hidden_field_tag("region", @instance_info[:region]) %>
<%= hidden_field_tag("plan", @instance_info[:plan]) %>
<%= hidden_field_tag("instance", @instance_info[:instance][:name]) %>
<%= hidden_field_tag("authenticity_token", @instance_info[:authenticity_token]) %>
  <article>
    <label class="amount">
        <h1> Your chose the following plan:</h1>
        <span> Name: <%= @instance_info[:instance][:name] %></span><br>
          <span>Amount: <%= number_to_currency((@instance_info[:plan].to_i/ 100), :unit => "€") %> &euro;</span><br>
          <span> Region: <%= @region[:name] %></span><br>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-currency='EUR'
          data-description="A month's subscription"
          data-amount=<%= @instance_info[:plan]%>></script>
<% end %>

