
<%= form_tag @instance.id, method: :get do %>
  <article>
    <label class="amount">
        <h1> Please pay for your instance:</h1>
        <span> Name: <%= @instance[:name] %></span><br>
        <span>Amount: <%= number_to_currency((@myPlan.amount.to_i/ 100), :unit => "€") %> </span><br>
        <span> Region: <%= @myRegion[:name] %></span><br>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-currency='EUR'
          data-description="A month's subscription"
          data-amount=<%= @myPlan.amount%>>
  </script>
<% end %>
